In [1]:
#-*-coding:utf-8-*-

In [2]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import font_manager, rc
font_path = "C:/Windows/Fonts/NGULIM.TTF"
font = font_manager.FontProperties(fname=font_path).get_name()
rc('font', family=font)
color_pal = sns.color_palette()
plt.style.use('fivethirtyeight')

In [3]:
price_df = pd.read_excel('양파가격전처리/onion_price_data.xlsx')
oil_df = pd.read_excel('경유전처리/경유.xlsx')
weather_df = pd.read_excel('기상전처리/weather_df_after2013.xlsx')
quantity_df = pd.read_excel('재배량전처리/new_quantity_area_2013_22.xlsx')
index_df = pd.read_excel('지수전처리/index_data.xlsx')

In [4]:
index_df

      date_time    소비자물가지수     신선야채지수     생활물가지수     식품생활지수
0    2013-01-01  -7.272000  -4.054000  -5.690000 -13.173000
1    2013-01-02  -7.262000  -4.005129  -5.675806 -13.159290
2    2013-01-03  -7.252000  -3.956258  -5.661613 -13.145581
3    2013-01-04  -7.242000  -3.907387  -5.647419 -13.131871
4    2013-01-05  -7.232000  -3.858516  -5.633226 -13.118161
...         ...        ...        ...        ...        ...
3738 2023-03-28  10.769032  11.010968  12.521613  16.374839
3739 2023-03-29  10.776774  10.723226  12.528710  16.376129
3740 2023-03-30  10.784516  10.435484  12.535806  16.377419
3741 2023-03-31  10.792258  10.147742  12.542903  16.378710
3742 2023-04-01  10.800000   9.860000  12.550000  16.380000

[3743 rows x 5 columns]

In [5]:
# 합쳐야 할 데이터프레임
dataframes = [price_df, oil_df, weather_df, quantity_df, index_df]

# date_time 컬럼을 기준으로 데이터프레임 합침
merged_df = dataframes[0]
for df in dataframes[1:]:
    merged_df = pd.merge(merged_df, df, on='date_time', how='inner')

# 합쳐진 데이터프레임
merged_df

,date_time,상품중품평균가격,자동차용경유,평균기온(℃),최고기온(℃),최저기온(℃),일교차,강수량(mm),1시간최다강수량(mm),평균습도(%rh),...,평균풍속(m/s),일조율(%),year,재배면적합계(ha),10a당생산량(kg),연단위생산량(톤),소비자물가지수,신선야채지수,생활물가지수,식품생활지수
0,2013-01-01,19350.0,1754.81,0.766667,5.366667,-3.766667,9.133333,0.000000,0.000000,66.366667,...,2.833333,64.100000,2013,20036.0000,6458,1294009,-7.272000,-4.054000,-5.690000,-13.173000
1,2013-01-02,19350.0,1754.43,-1.400000,2.666667,-6.266667,8.933333,0.000000,0.000000,46.533333,...,4.800000,89.166667,2013,20036.0000,6458,1294009,-7.262000,-4.005129,-5.675806,-13.159290
2,2013-01-03,19350.0,1754.02,-5.766667,-2.000000,-8.166667,6.166667,0.000000,0.000000,37.533333,...,5.466667,76.400000,2013,20036.0000,6458,1294009,-7.252000,-3.956258,-5.661613,-13.145581
3,2013-01-04,19350.0,1753.94,-3.633333,1.766667,-8.633333,10.400000,0.000000,0.000000,40.300000,...,2.600000,91.200000,2013,20036.0000,6458,1294009,-7.242000,-3.907387,-5.647419,-13.131871
4,2013-01-05,19450.0,1753.65,-1.600000,3.933333,-6.333333,10.266667,0.000000,0.000000,44.833333,...,3.433333,87.833333,2013,20036.0000,6458,1294009,-7.232000,-3.858516,-5.633226,-13.118161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3587,2022-10-28,22340.0,1864.82,15.000000,19.400000,11.333333,8.066667,6.466667,3.200000,76.233333,...,2.533333,58.100000,2022,17660.8098,6770,1195563,9.114194,6.145484,10.872581,13.417097
3588,2022-10-29,22340.0,1866.42,15.133333,18.933333,12.633333,6.300000,0.366667,0.366667,76.800000,...,2.800000,61.533333,2022,17660.8098,6770,1195563,9.110645,5.611613,10.861935,13.370323
3589,2022-10-30,22340.0,1867.15,14.533333,18.466667,12.333333,6.133333,3.666667,1.866667,76.500000,...,2.766667,52.500000,2022,17660.8098,6770,1195563,9.107097,5.077742,10.851290,13.323548
3590,2022-10-31,22340.0,1869.29,14.633333,18.766667,11.600000,7.166667,0.000000,0.000000,67.266667,...,3.066667,80.766667,2022,17660.8098,6770,1195563,9.103548,4.543871,10.840645,13.276774
3591,2022-11-01,22340.0,1872.05,14.900000,21.066667,10.233333,10.833333,0.000000,0.000000,67.566667,...,2.066667,88.266667,2022,17660.8098,6770,1195563,9.100000,4.010000,10.830000,13.230000

In [6]:
# date_time을 인덱스로 설정
merged_df = merged_df.set_index('date_time')
merged_df.index = pd.to_datetime(merged_df.index)
merged_df

,상품중품평균가격,자동차용경유,평균기온(℃),최고기온(℃),최저기온(℃),일교차,강수량(mm),1시간최다강수량(mm),평균습도(%rh),최저습도(%rh),...,평균풍속(m/s),일조율(%),year,재배면적합계(ha),10a당생산량(kg),연단위생산량(톤),소비자물가지수,신선야채지수,생활물가지수,식품생활지수
date_time,,,,,,,,,,,,,,,,,,,,,
2013-01-01,19350.0,1754.81,0.766667,5.366667,-3.766667,9.133333,0.000000,0.000000,66.366667,52.333333,...,2.833333,64.100000,2013,20036.0000,6458,1294009,-7.272000,-4.054000,-5.690000,-13.173000
2013-01-02,19350.0,1754.43,-1.400000,2.666667,-6.266667,8.933333,0.000000,0.000000,46.533333,31.333333,...,4.800000,89.166667,2013,20036.0000,6458,1294009,-7.262000,-4.005129,-5.675806,-13.159290
2013-01-03,19350.0,1754.02,-5.766667,-2.000000,-8.166667,6.166667,0.000000,0.000000,37.533333,27.000000,...,5.466667,76.400000,2013,20036.0000,6458,1294009,-7.252000,-3.956258,-5.661613,-13.145581
2013-01-04,19350.0,1753.94,-3.633333,1.766667,-8.633333,10.400000,0.000000,0.000000,40.300000,23.333333,...,2.600000,91.200000,2013,20036.0000,6458,1294009,-7.242000,-3.907387,-5.647419,-13.131871
2013-01-05,19450.0,1753.65,-1.600000,3.933333,-6.333333,10.266667,0.000000,0.000000,44.833333,21.000000,...,3.433333,87.833333,2013,20036.0000,6458,1294009,-7.232000,-3.858516,-5.633226,-13.118161
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-10-28,22340.0,1864.82,15.000000,19.400000,11.333333,8.066667,6.466667,3.200000,76.233333,52.333333,...,2.533333,58.100000,2022,17660.8098,6770,1195563,9.114194,6.145484,10.872581,13.417097
2022-10-29,22340.0,1866.42,15.133333,18.933333,12.633333,6.300000,0.366667,0.366667,76.800000,57.000000,...,2.800000,61.533333,2022,17660.8098,6770,1195563,9.110645,5.611613,10.861935,13.370323
2022-10-30,22340.0,1867.15,14.533333,18.466667,12.333333,6.133333,3.666667,1.866667,76.500000,59.666667,...,2.766667,52.500000,2022,17660.8098,6770,1195563,9.107097,5.077742,10.851290,13.323548
2022-10-31,22340.0,1869.29,14.633333,18.766667,11.600000,7.166667,0.000000,0.000000,67.266667,46.666667,...,3.066667,80.766667,2022,17660.8098,6770,1195563,9.103548,4.543871,10.840645,13.276774
2022-11-01,22340.0,1872.05,14.900000,21.066667,10.233333,10.833333,0.000000,0.000000,67.566667,41.000000,...,2.066667,88.266667,2022,17660.8098,6770,1195563,9.100000,4.010000,10.830000,13.230000

In [7]:
merged_df.to_excel(excel_writer='../2013년이후_6개월단위예측/onion_after2013_combined.xlsx', sheet_name='onion_after2013_combined')